<!-- Initial splash screen -->
<iw-splash [class.d-none]="!loading || fatal"></iw-splash>
<!-- Error screen -->
<iw-fatal *ngIf="fatal"></iw-fatal>
<!-- The main div that contains all of the sites main content -->
<!-- <div [class.d-none]="loading || fatal || updating"> -->
<div [class.d-none]="loading || fatal">
  <!-- The titleBar -->
  <div class="d-flex flex-column py-3 align-items-stretch dashboard">
    <div class="container-fluid px-4 titlebar">
      <div class="d-flex justify-content-center">
        <!-- Time -->
        <div class="float-left">
          <iw-logo></iw-logo>
        </div>
        <h1 class="mx-5 my-1 text-white text-center date-time-text d-inline-block date-block text-left text-uppercase"
          style="font-family: 'Roboto Mono', monospace;">
          {{ clock | date: 'HH:mm' }}
        </h1>
        <!-- Date -->
        <div>
  <div>
      <iw-floor></iw-floor>
    <div class="row">
      
    </div>
  </div>
</div>
        <div class="float-left">
          <img src="../../assets/te4_logo.png">
        </div>
        
<!--Footer-->
      </div>
    </div>

    <div *ngFor="let stops of busses | keyvalue : sorter">
      <iw-bus [departures]="stops.value" [stop]="stops.key"></iw-bus>
    </div>
    <br>
  </div>

</div>
<!-- Offline bottom banner -->
<div class="fixed-bottom" *ngIf="error">
  <mat-card class="deviation-warn">
    <div class="d-flex flex-column text-center">
      <h5 class="mat-title mb-0">Offline – Utgår från cache</h5>
    </div>
  </mat-card>
</div>
<!-- Online bottom banner -->
<div class="fixed-bottom" *ngIf="backOnline">
  <mat-card class="deviation-success">
    <div class="d-flex flex-column text-center">
      <h5 class="mat-title mb-0">Online – Utgår från realtidsdata</h5>
    </div>
  </mat-card>
</div>


