:host {
  color: #c9c9c9;
}

.titlebar{
  margin-bottom: 23px !important;
}

.date-block{
  background-color: rgba(39, 39, 39, 0.7)!important;
}

.style-info{
  font-size: 50px !important; 
  color: white;
}