.busses {
  background: rgba(39, 39, 39, 0.7);
  background: linear-gradient(180deg, rgba(48, 48, 48, 0.7) 50%, rgba(39, 39, 39, 0.7) 50%);
  box-sizing: border-box;
  margin: 8.5px 17px;
  border-radius: 5px !important;
  padding: 0px !important;

  .bus-info span:first-child {
    font-size: 60px;
  }

  .bus-info {
    max-width: 126px;
    width: 126px;
    max-height: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #329024;
    text-align: center;
    padding: 0 4px;
    border-radius: 5px;
    margin: 13px !important;
    font-weight: bold;
  }

  .bus-container {
    max-width: 100% !important;
    width: calc(100% - 127px) !important;

    .bus {
      /* justify-content: center; */
      padding-top: 5px;
      /* width: 100%; */
      max-width: 100% !important;

      .bus-torwards {
        font-size: 18px;
        color: #A7A7A7;
        text-transform: uppercase;
      }

      .bus-destination {
        font-size: 30px;
        font-weight: 600;
        line-height: 25px;
      }

      .bus-times div:first-child {
        font-size: 35px;
        font-weight: 500;
        line-height: 40px;
      }

      .bus-times div:last-child {
        font-size: 20px;
      }
    }

  }
}
